
.titulo{
    
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1197cc;
    text-align: center;
}

.Datos{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #42add8;
    
}

p{
    font-size: 15px;
    color: #1b1703;
    padding: 0 100px;

}



